@media (max-width: 1260px) {
  .success .container {
    flex-direction: column;
  }

  .success .container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .success .container .title h2 {
    text-align: center;
  }
}
@media (max-width: 1133px) {
  .about .container {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
  .about .container .about-me h2 {
    text-align: center;
  }
  .about .container .about-me p {
    text-align: center;
  }
  .about .container .about-me ul {
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .success .container .block {
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  
  .success .container .block .top h3 {
    margin-bottom: 0;
  }
  .cases .container h2 {
    text-align: center;
  }
  .cases .container {
    flex-direction: column;
    gap: 4rem;
  }

  .contact .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact .container .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .contact .container .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  header .container nav,
  header .container nav .menu {
    flex-direction: column;
  }

  header .container {
    display: inline-block;
  }

  header .container .logo img {
    width: 8.4rem;
  }

  header .container nav {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    top: -20rem;
  }

  header .container nav .menu,
  header .container nav .btn-primary,
  header .container nav .menu-img {
    display: none;
  }

  header .container nav.show {
    opacity: 1;
    visibility: visible;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: var(--black-color);
  }

  header .container nav .menu,
  header .container nav .btn-primary,
  header .container nav .menu-img {
    display: flex;
  }
  header .container .open-menu {
    position: absolute;
    background-image: url(../img/menu.svg);
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    top: 3.5rem;
    right: 1.5rem;
    display: inline-block;
    cursor: pointer;
  }
  header .container nav .close-menu {
    position: absolute;
    background-image: url(../img/close.svg);
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    top: 3.5rem;
    right: 4rem;
    display: inline-block;
    cursor: pointer;
  }

  header .container nav .menu {
    gap: 6rem;
    justify-content: center;
    align-items: center;
  }

  header .container nav .menu li,
  header .container nav .menu-img {
    margin: 0 auto;
  }

  header .container nav .menu li a {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 624px) {
  .hero {
    background-position: center center;
  }
  .hero .container .techs{
    flex-direction: column;
  }

  .success .container .block {
    flex-direction: column;
  }

  .success .container .block .top {
    padding: 0;
  }
  .success .container .block .top h3 {
    text-align: center;
  }

  .success .container  .block .botton p {
    text-align: center;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50.2%;
  }
}
