 /* header */
 header {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 4rem 0rem;
     z-index: 500;
 }
 header .container {
     display: flex;
     justify-content:space-between;
     align-items: center;
 }

 header .container nav {
    display: inline-flex;
    align-items: left;
    justify-content: space-between;
   
  }

  header .container nav .menu {
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  header .container nav .menu li {
    padding: 0rem 2rem;
  }
  header .container nav .menu-item {
    align-content: center;
    gap: 3.4rem;
  }
  header .container nav .menu-img{
    align-content: center;
    gap: 3rem;
  }
 /* hero */
  .hero{
    background: url(../img/s-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14rem 0rem;
    
  }
  .hero .container h2{
    text-align: center;
    font-weight:700;
  
  }
  .hero .container .subtitle{
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 3.4rem;
  }
  .hero .container .techs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    
  }
  .hero .container .techs img{
    transition: all 0,4s;
  }
  .hero .container .techs img:hover{
    transform: translateY(-1rem);
  }
  /* success*/
  .success{
    background-color: var(--black_color);
    display: flex;
  }
  .success .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 10rem 0rem;
  }
  .success .container .title h2{
    font-weight: 700;
  }
  .success .container .title h2 span{
    font-weight: 800;
  }
  .success .container .blocks{
    display: flex;
  }
  .success .container .block{
    width: 100%;
    background-color: var(--white-color);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
  }
  .success .container .block.active{
    background-color: var(--second-color);
  }
  .success .container .block h3{
    color: var(--black-color);
    font-family: "Inter";
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
  }
  .success .container .block p{
    color: var(--black-color);
    font-family: "Inter";
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.9rem;
  }
  .success .container .block .top{
    padding: 3rem 1rem; 

  }
  .success .container .block .botton{
    padding: 2rem 1rem;
  }
/*about*/
.about{
  background-color: var(--semi-black);
  display: flex;
}
.about .container{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 5rem 2rem;
}
.about .container .about-me {
  width: 100%;
  max-width: 71rem;
}
.about .container .about-me ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 3.2rem;
  max-width: 15rem;
}
/*cases*/
.cases .container{
  display: flex;
  max-height: 60rem;
  padding: 5rem 2rem;
}

/*Footer*/

footer {
  background-color: var(--black-color-medium);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
  text-align: center;
}
/* swipper*/

.swiper {
  width: 100%;

}

.swiper-slide {
  text-align: center;
  background: var(--black-color);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: contain;
}